 <!-- Start Main Banner Area -->
 <div class="main-banner">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container-fluid">
              <div class="row align-items-center">
                  <div class="col-lg-6 col-md-12">
                      <div class="main-banner-content">
                          
                          <h1>{{'acceuil.h1' | translate}}</h1>
                          <p>{{'acceuil.p' | translate}}   </p>

                          <a href="#" class="btn btn-primary">En savoir plus </a>
                      </div>
                  </div>

                  <div class="col-lg-6 col-md-12">
                      <div class="main-banner-image">
                          <img src="/assets/img/project.png" alt="image">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="banner-shape"><img src="/assets/img/white-shape.png" alt="image"></div>
  <div class="shape1"><img src="/assets/img/shape/2.png" alt="image"></div>
  <div class="shape2"><img src="/assets/img/shape/3.png" alt="image"></div>
</div>
<!-- End Main Banner Area -->

  <!-- Start Featured Solutions Area -->
  <section class="featured-solutions-area ptb-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-featured-solutions">
                    <img src="/assets/img/data-science.png" alt="image">

                    <h3>{{'acceuil.solutions1' | translate}}</h3>
                    <p> {{'acceuil.solutions2' | translate}}</p>
                    
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-featured-solutions">
                    <img src="/assets/img/machine-learning.png" alt="image">
                   
                   <h3>{{'acceuil.solutions3' | translate}}</h3>
                    <p>{{'acceuil.solutions4' | translate}}</p>
                   
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-featured-solutions">
                    <img src="/assets/img/search.png" alt="image">

                    <h3>{{'acceuil.solutions5' | translate}}</h3>
                    <p>{{'acceuil.solutions6' | translate}}</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Solutions Area -->

 <!-- Start Features Area -->
 <section class="features-area ptb-110 bg-f7f9fc">
  <div class="container">
      <div class="overview-box">
          <div class="image wow zoomIn" data-wow-delay="1s">
              <img src="/assets/img/workplace.jpg" alt="image">
          </div>

          <div class="content">
              <h3>{{'acceuil.mission1' | translate}}</h3>
              <p>{{'acceuil.mission2' | translate}}</p>
              <p>{{'acceuil.mission3' | translate}}</p>
              <a href="#" class="btn btn-primary">En savoir plus</a>
          </div>
      </div>

      
  </div>

  <div class="rectangle-shape1"><img src="/assets/img/rectangle-shape1.png" alt="image"></div>
  <div class="rectangle-shape2"><img src="/assets/img/rectangle-shape2.png" alt="image"></div>
</section>
<!-- End Features Area -->

<!-- Start Services Area -->
<section class="services-area ptb-110 bg-fafafa pb-0">
  <div class="container">
      <div class="section-title">
          <h2>{{'acceuil.service1' | translate}}</h2>
          <p>{{'acceuil.service2' | translate}}</p>
      </div>

      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-services-box">
                  <div class="icon">
                      <img src="/assets/img/services/plug.png" alt="image">
                  </div>
                  <h3><a href="#">{{'acceuil.service3' | translate}}</a></h3>
                  <p> {{'acceuil.service4' | translate}}</p>
                  <p> {{'acceuil.service5' | translate}}</p>
                </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-services-box">
                  <div class="icon">
                      <img src="/assets/img/services/drone.png" alt="image">
                  </div>
                  <h3><a href="#">{{'acceuil.service6' | translate}}</a></h3>
                  <p>{{'acceuil.service7' | translate}}</p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-services-box">
                  <div class="icon">
                      <img src="/assets/img/services/sensor.png" alt="image">
                  </div>
                  <h3><a href="#">{{'acceuil.service8' | translate}}</a></h3>
                  <p>{{'acceuil.service9' | translate}}</p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-services-box">
                  <div class="icon">
                      <img src="/assets/img/services/database.png" alt="image">
                  </div>
                  <h3><a href="#">{{'acceuil.service10' | translate}}</a></h3>
                  <p>{{'acceuil.service11' | translate}}</p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-services-box">
                  <div class="icon">
                      <img src="/assets/img/services/augmented-reality.png" alt="image">
                  </div>
                  <h3><a href="#">{{'acceuil.service12' | translate}}</a></h3>
                  <p>{{'acceuil.service13' | translate}}</p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="single-services-box">
                  <div class="icon">
                      <img src="/assets/img/services/deep.png" alt="image">
                  </div>
                  <h3><a href="#">{{'acceuil.service14' | translate}}</a></h3>
                  <p>{{'acceuil.service15' | translate}}</p>
              </div>
          </div>
      </div>
  </div>

  <div class="services-shape"><img src="/assets/img/services-shape.png" alt="image"></div>
</section>
<!-- End Services Area -->

 <!-- Start Blog Area -->
 <section class="blog-area ptb-110 bg-f9f9f9">
    <div class="container">
        <div class="section-title">
            <h2>{{'acceuil.formation1' | translate}}</h2>
            <p>{{'acceuil.formation2' | translate}}</p>
        </div>

        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="single-blog-post">
                    <div class="entry-thumbnail">
                        <a href="#"><img src="assets/img/blog/microsoft-azure-vector-logo.jpg" alt="image"></a>
                    </div>

                    <div class="entry-post-content">

                        <h3><a href="#"> {{'acceuil.formation3' | translate}} <br>  {{'acceuil.formation4' | translate}}</a></h3>
                        
                        <a href="#" class="read-more-btn">Read More <i class="flaticon-add-1"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-6">
                <div class="single-blog-post">
                    <div class="entry-thumbnail">
                        <a href="#"><img src="assets/img/blog/power-bi-logo.jpg" alt="image"></a>
                    </div>

                    <div class="entry-post-content">

                        <h3><a href="#">{{'acceuil.formation5' | translate}}<br>{{'acceuil.formation6' | translate}}</a></h3>
                       
                        <a href="#" class="read-more-btn">Read More <i class="flaticon-add-1"></i></a>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>
<!-- End Blog Area -->
