 <!-- Start Page Title Area -->
 <div class="page-title-area">
  <div class="container">
      <div class="page-title-content">
          <h2>{{'formation.formation13' | translate}}</h2>
          <p class="para">{{'formation.formation1' | translate}}
              <br>{{'formation.formation2' | translate}}
          </p>
              <a href="#" class="btn btn-primary">{{'formation.formation3' | translate}}</a>
          
          <ul>
              <li><a routerLink="/acceuil">{{'formation.formation4' | translate}}</a></li>
              <li>{{'formation.formation13' | translate}}</li>
              
          </ul>
      </div>
  </div>
</div>
<!-- End Page Title Area -->

 <!-- Start Features Area -->
 <section class="features-area ptb-110 bg-f7f9fc">
    <div class="container">
        <div class="overview-box">
            <div class="image wow zoomIn" data-wow-delay="1s">
                <img src="assets/img/blog/microsoft-azure-vector-logo.jpg" alt="image">
            </div>

            <div class="content">
                <h3>{{'formation.formation5' | translate}}</h3>
                <p>{{'formation.formation6' | translate}}</p>

                
            </div>
        </div>

        <div class="overview-box">
           
            <div class="content">
                <h3> {{'formation.formation7' | translate}}</h3>
                <p>{{'formation.formation8' | translate}}</p>
                
                <ul class="features-list">
                    <li class="objectif"><span ><i class='bx bx-check-double '></i> {{'formation.formation9' | translate}} </span><p class="pobjectif">{{'formation.formation10' | translate}}</p></li>
                    <li class="lepublicvise"><span><i class='bx bx-check-double'></i>  {{'formation.formation11' | translate}} </span></li>
                    <li class="prerequis"><span ><i class='bx bx-check-double'></i>  {{'formation.formation12' | translate}} </span></li>
     
                </ul>
            </div>
            <div class="image wow zoomIn image1" data-wow-delay="1s">
                <img src="assets/img/blog/power-bi-logo.jpg" alt="image">
            </div>
            
        </div>
    </div>

    <div class="rectangle-shape1"><img src="assets/img/rectangle-shape1.png" alt="image"></div>
    <div class="rectangle-shape2"><img src="assets/img/rectangle-shape2.png" alt="image"></div>
</section>
<!-- End Features Area -->