
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<body>
  <div class="main-content">
    <!-- Top navbar -->
   
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello {{firstname}}</h1>
            <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
            <a href="#!" class="btn btn-info">Edit profile</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
          
           
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">22</span>
                      <span class="description">Tests réussies</span>
                    </div>
                    <div>
                      <span class="heading">10</span>
                      <span class="description">Tests échoués</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Nombre total des tests</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                    {{firstname}}  {{lastname}}<span class="font-weight-light"></span>
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>{{email}}
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>University of Computer Science
                </div>
                <hr class="my-4">
                <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
                <a href="#">Show more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Mon Profil</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Modifier Mon Profil</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form [formGroup]="updateForm" (ngSubmit)="Onsubmitupdateprofile()">
                
                <h6 class="heading-small text-muted mb-4">Modifier Mon Profil</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label for="inputEmail3" class="form-control-label">Prénom</label>
                        <input type="text" class="form-control form-control-alternative" id="inputEmail3" placeholder="Prénom" formControlName="first_name">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="inputPassword3" class="form-control-label">Nom</label>
                        <input type="text"  class="form-control form-control-alternative" id="inputPassword3" placeholder="Nom" formControlName="last_name">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="inputEmail3">Email</label>
                        <input type="email"  class="form-control form-control-alternative" id="inputEmail3" placeholder="Email" formControlName="email">
                      </div>
                    </div>
                   
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <button type="submit" [disabled]="loading" class="btn btn-sm btn-primary">update</button>
                    </div>
                    <div *ngIf="loading"  style="width: 3rem; height: 3rem;margin-left:40%" role="status">
                        <img src="../../assets/img/loading.gif"> <span style="color:orange;font-weight: 600;">Loading...</span>
                         
                       </div>
                  </div>
                </div>
              </form>
                <hr class="my-4">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Mot de passe</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      
                      <form [formGroup]="changepasswordForm" (ngSubmit)="onSubmitChangePassword()">
                        <div class="form-group row">
                            <label for="inputEmail3" class="form-control-label">Ancien mot de passe</label>
                            <div class="col-sm-10">
                              <input type="password" formControlName="oldpassword" class="form-control form-control-alternative" id="inputEmail3" placeholder="Ancien mot de passe">
                              
                          </div>
                          </div>
                        <div class="form-group row">
                          <label for="inputEmail3" class="form-control-label">Nouveau mot de passe</label>
                          <div class="col-sm-10">
                            <input type="password" formControlName="newpassword" class="form-control form-control-alternative" id="inputEmail3" placeholder="Nouveau mot de passe" [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }">
                            <i class="fa fa-pencil-square-o errspan"></i>
                        </div>
                        <div *ngIf="submitted && f.newpassword.errors" class="erreur">
                            <div *ngIf="f.newpassword.errors.required" >Password is required !</div>
                            <div *ngIf="f.newpassword.errors.pattern" >Password must include minimum 8 characters at least 1 Uppercase Alphabet, 1 Lowercase Alphabet, 1 Number and 1 Special Character !</div>
                        </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                              <button type="submit" [disabled]="loading" class="btn btn-sm btn-primary">Sauvegarder</button>
                            </div>
                            <div *ngIf="loading"  style="width: 3rem; height: 3rem;margin-left:40%" role="status">
                                <img src="../../assets/img/loading.gif"> <span style="color:orange;font-weight: 600;">Loading...</span>
                                 
                               </div>
                          </div>
                      </form>
                    </div>
                  </div>
                 
                </div>
                <hr class="my-4">
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">About me</h6>
                <div class="pl-lg-4">
                  <div class="form-group focused">
                    <label>About Me</label>
                    <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                  </div>
                </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6 m-auto text-center">
        <div class="copyright">
          <p>Made with <a href="https://www.creative-tim.com/product/argon-dashboard" target="_blank">Argon Dashboard</a> by Creative Tim</p>
        </div>
      </div>
    </div>
  </footer>
</body>

<!--
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container bootstrap snippets bootdeys">
        <div class="row" id="user-profile">
            <div class="col-lg-3 col-md-4 col-sm-4 sidediv">
                <div class="main-box clearfix">
                    <h2> {{firstname}}  {{lastname}} </h2>
                    <div class="profile-status">
                        <i class="fa fa-check-circle"></i> Online
                    </div>
                    
                    <div class="profile-label">
                        <span class="label label-danger">Tests réussies</span>
                    </div>
                    <div class="profile-label">
                        <span class="label label-danger">1</span>
                    </div>
                    <div class="profile-label">
                        <span class="label label-danger">Tests échoués</span>
                    </div>
                    <div class="profile-label">
                        <span class="label label-danger">1</span>
                    </div>
                    <div class="profile-label">
                        <span class="label label-danger">Nombre total des tests</span>
                    </div>
                    <div class="profile-label">
                        <span class="label label-danger">1</span>
                    </div>
    
                    <div class="profile-details">
                        <ul class="fa-ul">
                            <li> <a routerLink="/test/categorie" ><i class="fa fa-list-alt"></i>Quiz</a></li>
                            <li> <a routerLink="/test/dashboard" ><i class="fa fa-list-alt"></i>Dashboard</a></li>
                            
                        </ul>
                    </div>
    
                   
                </div>
            </div>
    
            <div class="col-lg-9 col-md-8 col-sm-8 userdiv">
                <div class="main-box clearfix">
                    <div class="profile-header">
                        <h3><span>Mon Profil</span></h3>
                        <a href="#" class="btn btn-primary edit-profile" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa fa-pencil-square fa-lg"></i> Mon Profil
                        </a>
                        
                    </div>
    
                    <div class="collapse" id="collapseExample">
                    <div class="row profile-user-info">
                        <div class="col-sm-8">
                            <div class="profile-user-details clearfix">
                                <div class="profile-user-details-label">
                                    Prénom
                                </div>
                                <div class="profile-user-details-value">
                                    {{firstname}}
                                </div>
                            </div>
                            <div class="profile-user-details clearfix">
                                <div class="profile-user-details-label">
                                    Nom
                                </div>
                                <div class="profile-user-details-value">
                                    {{lastname}}
                                </div>
                            </div>
                            
                            <div class="profile-user-details clearfix">
                                <div class="profile-user-details-label">
                                    Email
                                </div>
                                <div class="profile-user-details-value">
                                    {{email}}
                                </div>
                            </div>
                          
                        </div>
                       
                    </div>
                    </div>
                    
    
                    <div class="profile-header">
                        <h3><span>Modifier Mon Profil</span></h3>
                        <a class="btn btn-primary edit-profile" class="btn btn-primary edit-profile" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa fa-pencil-square fa-lg"></i> Modifier Mon Profil
                        </a>
                    </div>
    
                    <div class="collapse" id="collapseExample1">
                    <div class="row profile-user-info">
                        <div class="col-sm-10">
                          <form>
                            <div class="form-group row">
                              <label for="inputEmail3" class="col-sm-2 col-form-label">Prénom</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail3" placeholder="Prénom">
                                <span ><i class="fa fa-pencil-square-o errspan"></i></span>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword3" class="col-sm-2 col-form-label">Nom</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPassword3" placeholder="Nom">
                                <span ><i class="fa fa-pencil-square-o errspan"></i></span>
                            </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                  <span ><i class="fa fa-pencil-square-o errspan"></i></span>
                                </div>
                               
                              </div>
                              <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">Mot de passe</label>
                                <div class="col-sm-10">
                                  <input type="password" class="form-control" id="inputPassword3" placeholder="Mot de passe">
                                  <span ><i class="fa fa-pencil-square-o errspan"></i></span>
                                </div>
                              </div>
                            
                            <div class="form-group row">
                              <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Sauvgarder</button>
                              </div>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
    
    
                <div class="profile-header">
                    <h3><span>Mot de passe</span></h3>
                    <a class="btn btn-primary edit-profile" class="btn btn-primary edit-profile" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-pencil-square fa-lg"></i> Changer mot de passe
                    </a>
                </div>
    
                <div class="collapse" id="collapseExample2">
                <div class="row profile-user-info">
                    <div class="col-sm-10">
                      <form [formGroup]="changepasswordForm" (ngSubmit)="onSubmitChangePassword()">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Ancien mot de passe</label>
                            <div class="col-sm-10">
                              <input type="password" formControlName="oldpassword" class="form-control" id="inputEmail3" placeholder="Ancien mot de passe">
                              
                          </div>
                          </div>
                        <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-2 col-form-label">Nouveau mot de passe</label>
                          <div class="col-sm-10">
                            <input type="password" formControlName="newpassword" class="form-control" id="inputEmail3" placeholder="Nouveau mot de passe" [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }">
                            <i class="fa fa-pencil-square-o errspan"></i>
                        </div>
                        <div *ngIf="submitted && f.newpassword.errors" class="erreur">
                            <div *ngIf="f.newpassword.errors.required" >Password is required !</div>
                            <div *ngIf="f.newpassword.errors.pattern" >Password must include minimum 8 characters at least 1 Uppercase Alphabet, 1 Lowercase Alphabet, 1 Number and 1 Special Character !</div>
                        </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                              <button type="submit" [disabled]="loading" class="btn btn-primary">Sauvegarder</button>
                            </div>
                            <div *ngIf="loading"  style="width: 3rem; height: 3rem;margin-left:40%" role="status">
                                <img src="../../assets/img/loading.gif"> <span style="color:orange;font-weight: 600;">Loading...</span>
                                 
                               </div>
                          </div>
                      </form>
                    </div>
                </div>
            </div>
    
                </div>
            </div>
            
        </div>
    </div>
    </body>
    
    -->